# Core
Pyrogram==2.0.106
pyromod==3.1.6
tgcrypto==1.2.5
python-dotenv==1.0.0
pytz
psutil
async-lru==2.0.2
aiohttp==3.8.5
aiofiles
motor==3.3.1
umongo==3.1.0

# HTTP & parsing
requests==2.31.0
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
soupsieve==2.4.1
beautifulsoup4==4.12.2
cloudscraper==1.2.71
urllib3==2.0.4

# Crypto & misc
pycryptodome==3.18.0
PySocks==1.7.1
pyaes==1.6.1
websockets==11.0.3

# Media / utils
yt-dlp==2023.7.6
py-tgcalls==0.6.0
mutagen==1.46.0
speedtest-cli

# Local module
helper
